{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}Change Informations {% endblock %}

{% block body_block %}

{% if success %}
<div class="alert alert-success" role="alert">
    <p> Change Your password Successfully</a></p>
  </div>

{% else %}
<h3 style="text-align: center"><b> Change Password </b><h3>
    <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit"  class="btn btn-success">Change Password</button>
    </form>
    <br>
{% endif %}
{% endblock %}